.pointer {
    cursor: pointer;
}

.profile-wrapper {
    background: #ff7f5d;
    border-radius: 5px;
}

#member-img, .grid-view-filter .member-img.rounded-circle {
    width: 86px !important;
    height: 86px !important; 
}

.list-view-filter .member-img.rounded-circle {
    width: 54px !important;
    height: 54px !important; 
}